
.icon-arrowforward:before { content: '\e800'; } /* '' */
.icon-time:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-goal:before { content: '\e803'; } /* '' */
.icon-frustration:before { content: '\e804'; } /* '' */
.icon-keyframe:before { content: '\e805'; } /* '' */
